{
    "title": "Lighthouse Garden",
    "description": "Monitoring performance data by lighthouse",
    "data_dir": "data/",
    "keep_history": 10
    "targets": [
        {
            "title": "Google",
            "identifier": "google",
            "url": "https://google.com"
        }
    ]
}