<a href="{{url}}" target="_blank">
    <div class="c100 p{{value}} {{color}} {{small}}">
        <span>{{value}}</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
</a>
