<a href="{{url}}">
    <div class="c100 p{{value}} {{color}} {{small}}" data-toggle="tooltip" data-placement="bottom" data-html="true" title="{{description}}">
        <span>{{value}}</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
    {{trend}}
</a>
