<tr id="{{identifier}}">
    <td>
        <strong>{{title}}</strong><br/>
        <a href="{{url}}" target="_blank">{{url}}</a>
    </td>
    <td>
        {{circle_average}}
    </td>
    <td class="pb-0">
        <div id="graph-{{identifier}}" class="graph" data-values-y="{{graph_values_y}}" data-values-x="{{graph_values_x}}" data-values-text="{{graph_values_text}}"></div>
    </td>
    <td>
        {{circle_performance}}
    </td>
    <td>
        {{circle_accessibility}}
    </td>
    <td>
        {{circle_best_practices}}
    </td>
    <td>
        {{circle_seo}}
    </td>
</tr>